body {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: 'header header'
                       'aside main'
                       'footer footer'
}

header{
  grid-area: header;
  background-color: purple;

}

aside{
  grid-area: aside;
  background-color: rgb(140, 179, 175);
}

main{
  grid-area: main;
  background-color: rgb(201, 231, 193);

}
footer{
  grid-area: footer;
  background-color: rgb(221, 214, 119);
}

main{
  display: grid;
  display: 
}