body {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: 'header header'
                       'aside main'
                       'footer footer';
}

header{
  grid-area: header;
  background-color: purple;

}

aside{
  grid-area: aside;
  background-color: rgb(140, 179, 175);
}

main{
  grid-area: main;
  background-color: rgb(201, 231, 193);

}
/*屋慶名さんパターン*/
/*.main-grid{
  display: grid;
  grid-template-areas: '1 1 1 1 '
                       '1 1 1 1 '
                       '1 1 1 1 '
}
.main-grid div{
  background-color: white;
  margin: 20px;
}*/

.main-grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: repeat(3,170px);
  grid-gap:4% 4%;
  justify-content: center;
  padding: 20px 0;

}

.main-grid div{
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

footer{
  grid-area: footer;
  background-color: rgb(221, 214, 119);
}

@media screen and (min-width:768px) and (max-width: 920px){
  .main-grid{
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: repeat(4,20%);
  }
}
















